body{
    background-color: #393E46;
}
.container{
    width :70%;
    height: 100%;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size:7rem;
    text-shadow: #393E46;
    


}
.players{
    width:70%;
    height: 200px;
    margin:0 auto;
    text-align:center;

}
.player1{
    width:250px;
    height:500px;
    float:left;
    margin-left: 100px;
    margin-right: 60px;
    
}
.player2{
    float:left;
    right:0px;
    left:auto;
    width:200px;
    height:500px;
    position:relative;
}
.player1-heading ,.player2-heading{
    font-family: 'Indie Flower', cursive

}
img{
    width:200px;
    height:200px;
}